<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        td,th{
            padding: 10px;
        }
    </style>
</head>
<body>
    <table border="2px;" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee salary</th>
                <th colspan="2">Update</th>
            </tr>
        </thead>
            <% for(var i=0;i<empdata.length;i++){ %>
                    <tr>
                        <td><%= empdata[i].eid %></td>            
                        <td><%= empdata[i].name %></td>
                        <td><%= empdata[i].salary %></td>
                        <td><a href="/emp/edit/<%= empdata[i].eid %>">Edit</a></td>
                        <td><a href="/emp/delete/<%= empdata[i].eid %>">Delete</a></td>
                    </tr>
                    <%}%>
    </table>   
</body>
</html>